<ion-header style="background-color: transparent">
  <ion-row class="background" slot="top"   padding="" >
    <ion-tab-button  (click)="home()" >
      <ion-icon size="large" name="md-home"></ion-icon>
      <ion-label class="tab-title">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button  (click)="search()" >
      <ion-icon size="large" name="search"></ion-icon>
      <ion-label class="tab-title">Search</ion-label>
    </ion-tab-button>
    <ion-tab-button >
      <ion-icon (click)="library()" size="large" name="md-book"></ion-icon>
      <ion-label class="tab-title">Library</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="discover()" >
      <ion-icon size="large" src="./assets/images/bnc.svg"></ion-icon>
      <ion-label class="tab-title">Entdecken</ion-label>
    </ion-tab-button>

  </ion-row>
</ion-header>
<ion-content class="background">

  <div class="user-photos-section">

    <div class="pictures-row ion-text-center">
      <div class="picture-item" size="2" >
        <img style="border: 2px solid #e78f84; border-radius: 10px" width="auto" [src]="data.imagefile | encodeURI" class="user-photo-image"/>


        <audio class="ion-margin-top"  autoplay preload="auto" controls [controlsList]="'nodownload'"
               #player
               src="{{data.audiofile|encodeURI}}">
        </audio>

      </div>

      <div ><ion-label color="light"> <h1>{{data.title}}</h1></ion-label></div>
      <div ><ion-label color="light"> <h3>{{data.region}}</h3></ion-label></div>

    </div>

    <div style=" border-right: thick solid #ffffff;">
      <p style="color: white">{{data.description}}</p>

    </div>

  </div>



</ion-content>
<ion-footer  class="background no-border" >

  <ion-row   >

    <ion-col (click)="navCtrl.pop()" class="ion-text-end">
      <img style="width: 120px" src="../../assets/images/back.png">
    </ion-col>

  </ion-row>


</ion-footer>
