
<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card >
    <ion-card-subtitle class="ion-text-center ion-margin-top">What can I do to prevent corruption in Zimbabwe?
    </ion-card-subtitle>
  <div class="ion-text-center">
<ion-text >
  Whether you are a private individual, public official, politician or business representative, you may lead by example and thereby affect the general atmosphere. Everyone should do their bit to make the entire Zimbabwean society as corruption-free as possible.

  Corruption has serious consequences both for individuals and for society. It slows down economic development, distorts the use of tax revenues, increases inequality and environmental damage, and undermines democracy. Fighting corruption is everyone's responsibility, and it also works for everyone's benefit.
</ion-text>
  </div>
  </ion-card>
</ion-content>
