ion-content.background {
  --background: none;
  background-image: url("../../assets/images/bg2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

ion-row.background {
  background-color:#dca539;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#dca539,rgba(220, 165, 57, 0.83));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dca539, rgba(220, 165, 57, 0.83)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  --color: var(--ion-color-medium-shade);

  ion-icon {
    font-size: 60px;
    color: white;
  }

}
ion-tab-button {
  background-color: transparent;
  --color: var(--ion-color-medium-shade);




}
.background {
  --background: none;
  background-image: url("../../assets/images/bg2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
