<ion-tabs  >

  <ion-tab-bar slot="bottom"  padding="" >
    <ion-tab-button tab="home" >
      <ion-icon size="large" name="md-home"></ion-icon>
      <ion-label class="tab-title">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search" >
      <ion-icon size="large" name="search"></ion-icon>
      <ion-label class="tab-title">Search</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="library" >
      <ion-icon  size="large" name="md-book"></ion-icon>
      <ion-label class="tab-title">Library</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="discover" >
      <ion-icon size="large" src="./assets/images/bnc.svg"></ion-icon>
      <ion-label class="tab-title">Entdecken</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
