<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>Add </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item class="ion-margin-bottom">
    <ion-label position="floating"> Module </ion-label>

    <ion-select [(ngModel)]="module">
      <ion-select-option  *ngFor="let p of modules" [value]="p.title">
        {{p.title}}
      </ion-select-option>
    </ion-select>

  </ion-item>

  <ion-item   class="ion-margin-bottom">
    <ion-label position="floating">Level</ion-label>
    <ion-select [(ngModel)]="level">
      <ion-select-option  *ngFor="let l of levels" [value]="l">
        {{l}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>

    <ion-label class="ion-text-center" position="stacked"> Upload file</ion-label>


    <ion-row>

      <ion-col size="6">
        <ion-item>

          <ion-label position="floating"> Select File Type</ion-label>
          <ion-select (ionChange)="change()" [(ngModel)]="file_type">
            <ion-select-option  *ngFor="let f of file_types" [value]="f">
              {{f}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="ion-margin-bottom">
          <ion-label position="floating"> Choose File</ion-label>
          <ion-input *ngIf="file_type == 'Audio'" placeholder="Choose File"  accept="audio/*" (change)="uploadFile($event)" type="file" ></ion-input>
          <ion-input *ngIf="file_type == 'Image'" placeholder="Choose File"  accept="image/*" (change)="uploadFile($event)" type="file" ></ion-input>
          <ion-input *ngIf="file_type == 'Document'"  placeholder="Choose File"  accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf" (change)="uploadFile($event)" type="file" ></ion-input>
          <ion-input *ngIf="file_type == 'Video'" placeholder="Choose File"  accept="video/*" (change)="uploadFile($event)" type="file" ></ion-input>

        </ion-item>
      </ion-col>

    </ion-row>
  </ion-item>

  <ion-item class="ion-margin-bottom">

    <ion-label position="floating"> Notes</ion-label>

    <ion-textarea autoGrow="" type="text" [(ngModel)]="notes" ></ion-textarea>



  </ion-item>
  <div *ngIf="uploadPercent" >
    <ion-progress-bar value="{{uploadPercent|async}}"></ion-progress-bar>
    <div class="ion-text-center">
      <ion-label >Uploading {{uploadPercent|async}} % </ion-label>
    </div>

  </div>
  <ion-button  class="ion-margin-top" (click)="submit()"  expand="block" color="primary" fill="solid">Submit</ion-button>
</ion-content>
