<ion-app dir="{{textDir}}">
    <ion-split-pane contentId="main">
    <ion-menu  side="start" menuId="custom" contentId="main" class="my-custom-menu">
        <ion-header >
            <ion-toolbar mode="ios"  color="primary">
                <ion-title>E Learning</ion-title>

            </ion-toolbar>

        </ion-header>
        <ion-content>
            <ion-list>
                <a *ngIf="user?.role == 'admin' || user?.role == 'Lecturer'" routerLink="/dashboard">
                    <ion-item lines="full">
                        <ion-icon color="primary" name="apps" slot="start"></ion-icon>
                        <ion-label>Dashboard</ion-label>
                    </ion-item>
                </a>

             <a  *ngFor="let i of list" [routerLink]="i.route">
                 <ion-item lines="full">
                    <ion-icon color="primary" [name]="i.icon" slot="start"></ion-icon>
                    <ion-label>{{i.name}}</ion-label>
                </ion-item>
             </a>



                <a *ngIf="user?.role == 'admin'" routerLink="/modules">
                    <ion-item lines="full">
                        <ion-icon color="primary" name="book" slot="start"></ion-icon>
                        <ion-label>Modules</ion-label>
                    </ion-item>
                </a>
                <a  *ngIf="user?.role == 'admin'"  routerLink="/faculties">
                    <ion-item lines="full">
                        <ion-icon color="primary" name="book" slot="start"></ion-icon>
                        <ion-label> Faculties</ion-label>
                    </ion-item>
                </a>

                <a  *ngIf="user?.role == 'admin'" routerLink="/institutions">
                    <ion-item lines="full">
                        <ion-icon color="primary" name="school" slot="start"></ion-icon>
                        <ion-label>Institutions</ion-label>
                    </ion-item>
                </a>

                <a   routerLink="/signin">
                    <ion-item lines="full">
                        <ion-icon color="primary" name="power" slot="start"></ion-icon>
                        <ion-label>Logout</ion-label>
                    </ion-item>
                </a>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet  content="" id="main"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
