<ion-app dir="{{textDir}}">
    <ion-split-pane contentId="main">
    <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
        <ion-header >
            <ion-toolbar mode="ios"  color="primary">
                <ion-title>E Learning</ion-title>

            </ion-toolbar>

        </ion-header>
        <ion-content>
            <ion-list>
             <a  *ngFor="let i of list" [routerLink]="i.route">   <ion-item lines="full">
                    <ion-icon color="primary" [name]="i.icon" slot="start"></ion-icon>
                    <ion-label>{{i.name}}</ion-label>
                </ion-item>
             </a>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet  content="" id="main"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
