<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>Sign Up</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">



    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Full Name</ion-label>
      <ion-input required="" type="text" [(ngModel)]="name">

      </ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Email address</ion-label>
      <ion-input required="" type="email" [(ngModel)]="email">

      </ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating"> Role</ion-label>

      <ion-select [(ngModel)]="role">
        <ion-select-option  *ngFor="let r of roles" [value]="r">
          {{r}}
        </ion-select-option>
      </ion-select>

    </ion-item>
    <ion-item *ngIf="role == 'Lecturer'" class="ion-margin-bottom">
        <ion-label position="floating"> Upload ID for verification</ion-label>
        <ion-input  placeholder="Choose File"  accept="image/*" (change)="uploadFile($event)" type="file" ></ion-input>

    </ion-item>

    <ion-item  *ngIf="role == 'Lecturer'" class="ion-margin-bottom">
        <ion-label position="floating">EC Number</ion-label>
        <ion-input required=""  [(ngModel)]="ec_number"></ion-input>

    </ion-item>

    <ion-item  *ngIf="role == 'Student'" class="ion-margin-bottom">
        <ion-label position="floating">Level</ion-label>
        <ion-select [(ngModel)]="level">
            <ion-select-option  *ngFor="let l of levels" [value]="l">
                {{l}}
            </ion-select-option>
        </ion-select>
    </ion-item>
  <ion-item class="ion-margin-bottom">
    <ion-label position="floating"> Institutions</ion-label>

    <ion-select [(ngModel)]="inst">
      <ion-select-option  *ngFor="let p of insts" [value]="p.title">
        {{p.title}}
      </ion-select-option>
    </ion-select>

  </ion-item>


  <ion-item class="ion-margin-bottom">
    <ion-label position="floating"> Faculty</ion-label>

    <ion-select [(ngModel)]="department">
      <ion-select-option  *ngFor="let p of facs" [value]="p.title">
        {{p.title}}
      </ion-select-option>
    </ion-select>

  </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Password</ion-label>
      <ion-input required="" type="password" [(ngModel)]="password"></ion-input>

    </ion-item>
    <div class="ion-margin-top">
      <ion-button  (click)="submit()"  expand="block" color="primary" fill="solid">Submit</ion-button></div>
    <div class="ion-text-center ion-margin">

    <a routerLink="/signin" ><ion-label class="ion-text-center" >Already have an account sign in here</ion-label></a>

    </div>
</ion-content>
