<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>Sign Up</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">



    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Full Name</ion-label>
      <ion-input required="" type="text" [(ngModel)]="name">

      </ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Email address</ion-label>
      <ion-input required="" type="email" [(ngModel)]="email">

      </ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating"> Role</ion-label>

      <ion-select [(ngModel)]="role">
        <ion-select-option  *ngFor="let r of roles" [value]="r">
          {{r}}
        </ion-select-option>
      </ion-select>

    </ion-item>
  <ion-item class="ion-margin-bottom">
    <ion-label position="floating"> Department</ion-label>

    <ion-select [(ngModel)]="department">
      <ion-select-option  *ngFor="let p of dpts" [value]="p">
        {{p}}
      </ion-select-option>
    </ion-select>

  </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-label position="stacked">Password</ion-label>
      <ion-input required="" type="password" [(ngModel)]="password"></ion-input>

    </ion-item>
    <div class="ion-margin-top">
      <ion-button  (click)="submit()"  expand="block" color="primary" fill="solid">Submit</ion-button></div>
    <div class="ion-text-center ion-margin">

    <a routerLink="/signin" ><ion-label class="ion-text-center" >Already have an account sign in here</ion-label></a>

    </div>
</ion-content>
