


<ion-content class="background">
  <ion-toolbar color="none" >
    <ion-searchbar #q
                   (click)="filter =true"
      clearIcon="close-circle"
                   [disabled]="searching"
        searchIcon="search" color="light"
        placeholder="Search"
     >
    </ion-searchbar>
    <div  [hidden]="!filter">
      <div *ngIf="regions">
    <ion-radio-group (ionChange)="search(region)"  [(ngModel)]="region" >

      <ion-item *ngFor="let r of regions">
        <ion-label>{{r.category}}</ion-label>
        <ion-radio color="secondary"  mode="md" slot="start" [value]="r.category"></ion-radio>
      </ion-item>



    </ion-radio-group>
      </div>
      <div *ngIf="!regions" class="ion-text-center">
        <ion-spinner name="lines"  color="success"></ion-spinner>
      </div>
    </div>
    <div *ngIf="searching" class="ion-text-center">
      <ion-spinner name="lines"  color="success"></ion-spinner>
    </div>
  </ion-toolbar>
  <div   >
    <img margin-top="" src="../../assets/images/ExploRadioTextTransparent.png">
    <div class="ion-text-center">
      <img style="height: 80px;" src="../../assets/images/search.png">


    </div>
  </div>
  <div style="padding-left: 20px">
    <ion-list>

    </ion-list>
  <ion-list  style="background: transparent">
    <ion-item color="none" (click)="openDetail(item)" lines="none" *ngFor="let item of data?.items">
      <ion-thumbnail style="border-radius: 5px; border: 2px solid  #e78f84;" slot="start">
        <img src="{{item.imagefile |encodeURI}}">
      </ion-thumbnail>

      <ion-label color="light"><h2>{{item.title}}</h2>
        <ion-label color="light"><p>{{item.region}}</p></ion-label>
      </ion-label>
    </ion-item>
  </ion-list>
  </div>
  <div class="ion-text-center" *ngIf="data == null">
    <h3 style="color: #F2F2F2"> <strong>No results found.. </strong></h3>
  </div>



</ion-content>
